RewriteEngine on

ErrorDocument 404 http://eserm.com/404.php

RewriteRule ^iletisim$ iletisim.php [NC,L]
RewriteRule ^hakkimizda$ hakkimizda.php [NC,L]
RewriteRule ^haberler$ haberler.php [NC,L]

RewriteRule ^haber-detay/([0-9a-zA-Z-_]+)/([0-9]+)$  haber-detay.php?sef=$1&haber_id=$2 [L,QSA]


